.logo-mobile img{
    height: 50px;
    width: auto;
}

.logo img{
    height: 25px;
    width: auto;
}

nav{
    height: 50px;
}

main{
    height: calc(100vh - 50px);
}

#overflow{
    height: calc(100vh - 50px);
    overflow-y: auto;
}

#overflow::-webkit-scrollbar { 
    width: 0 !important;
}


#side{
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: #051E34;
    color: white;
}

.fa-house, .fa-chart-simple, .fa-signal, .fa-gear{
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
    margin: 10px 5px;
}

.bg-custom-pill{
    background-color: #2a5983;
}

.breadcrumb-item::before{
    color: white !important;
}

.badge:hover{
    background-color: #2a5a8375;
    cursor: pointer;
}

tbody th::before{
    content: '\f121';
    font: var(--fa-font-solid);
    margin-right: 10px;
    background-color: orange;
    padding: 6px 4px;
    color: white;
    border-radius: 50%;
}

.btn-outline-dark{
    font-size: 12px;
    color: grey;
    width: 30px;
    padding: 5px;
}

th{
    font-weight: 100;
}

td .badge{
    text-align: center;
}

.offcanvas.offcanvas-end{
    width: 70%;
}

@media screen and (max-width: 992px){
    .offcanvas.offcanvas-end {
        width: 100% !important;
    }
}